# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence

 * @pMalvasio @glm4 @CamilaMoscatelli @mato2593 @germanStabile @mcousillas6 @smanini1 @fernandatoledo
