<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>920597872548-i8usbgdoau99hig2g0r8tm56gr30vif5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.920597872548-i8usbgdoau99hig2g0r8tm56gr30vif5</string>
	<key>API_KEY</key>
	<string>AIzaSyCBLeUrc3kI-2MokhhfZ1oOeHfY_iqig00</string>
	<key>GCM_SENDER_ID</key>
	<string>920597872548</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rootstrap.ios-base-Debug</string>
	<key>PROJECT_ID</key>
	<string>ios-base-f15b1</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-base-f15b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:920597872548:ios:f146efe8918a06d7</string>
	<key>DATABASE_URL</key>
	<string>https://ios-base-f15b1.firebaseio.com</string>
</dict>
</plist>